<header>
  <h1>ExchangeRates</h1>
  <p>USD/RUB EUR/RUB CYN/RUB charts</p>
</header>

<main>
  <div id="chart"></div>
  <%= link_to "Rates table", exchange_rates_table_path, class: "button" %>
</main>

<script>
  <%= raw "var chartData = #{@chart_data.to_json};" %>
</script>