<header>
  <h1>ExchangeRates</h1>
  <p>chart</p>
</header>

<main>
  <div id="chart"></div>
  <%= link_to "Rates table", exchange_rates_table_path, class: "button" %>
</main>

<footer>
  <p>Anton Nekrasov's website USD/RUB EUR/RUB CYN/RUB charts.</p>
</footer>